# This is a sample model mustache template.
from strawberry_py import Model, serialize
from typing import *

{{#imports}}from {{#snakecase}}{{import}}{{/snakecase}} import *
{{/imports}}

{{#models}}
{{#model}}
class {{classname}}(Model):
    def __init__(self{{#vars}}, {{#snakecase}}{{name}}{{/snakecase}}: {{#maptype}}{{datatype}}{{/maptype}}={{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}None{{/defaultValue}}{{/vars}}):
      {{#vars}}
      self._{{#snakecase}}{{name}}{{/snakecase}} = {{#snakecase}}{{name}}{{/snakecase}}
      {{/vars}}

    {{#vars}}
    @property
    @serialize('{{name}}', {{#maptype}}{{dataType}}{{/maptype}})
    def {{#snakecase}}{{name}}{{/snakecase}}(self):
      return self._{{#snakecase}}{{name}}{{/snakecase}}

    @{{#snakecase}}{{name}}{{/snakecase}}.setter
    def {{#snakecase}}{{name}}{{/snakecase}}(self, value: {{#maptype}}{{datatype}}{{/maptype}}):
      self._{{#snakecase}}{{name}}{{/snakecase}} = value


    {{/vars}}
{{/model}}
{{/models}}