# This is a sample model mustache template.
from strawberry_py import Model

{{#imports}}from {{#snakecase}}{{import}}{{/snakecase}} import *
{{/imports}}

{{#models}}
{{#model}}
class {{classname}}(Model):
     def __init__(self{{#vars}}, {{name}}: {{#maptype}}{{datatype}}{{/maptype}}={{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}None{{/defaultValue}}{{/vars}}):
      {{#vars}}
      self._{{name}} = {{name}}
      {{/vars}}
{{/model}}
{{/models}}