from strawberry_py import controller
from src.controllers.{{#snakecase}}{{classname}}{{/snakecase}} import {{classname}}

{{#operations}}
@controller({{classname}})
class {{classname}}Impl({{classname}}):

{{#operation}}
  def {{operationId}}(self{{#allParams}}, {{paramName}}: {{#maptype}}{{&dataType}}{{/maptype}}{{^required}}{{#defaultValue}}={{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}=None{{/defaultValue}}{{/required}}{{/allParams}}) -> {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}None{{/returnType}}:
    super().{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
    raise NotImplementedError

{{/operation}}
{{/operations}}