from strawberry_py import ApiController, http_get, http_put, http_post, http_patch, http_delete, form_parameter, body_parameter, query_string_parameter, header_parameter
from abc import ABCMeta, abstractmethod

{{#imports}}from {{#snakecase}}{{import}}{{/snakecase}} import *
{{/imports}}

{{#operations}}
class {{classname}}(ApiController, metaclass=ABCMeta):

{{#operation}}
  @http_{{#lowercase}}{{httpMethod}}{{/lowercase}}('{{{basePathWithoutHost}}}{{{path}}}'){{#allParams}}{{^isPathParam}}
  {{>queryParam}}{{>formParam}}{{>headerParam}}{{>bodyParam}}{{>pathParam}}{{/isPathParam}}{{/allParams}}
  @abstractmethod
  def {{operationId}}(self{{#allParams}}, {{#snakecase}}{{paramName}}{{/snakecase}}: {{#maptype}}{{&dataType}}{{/maptype}}{{^required}}{{#defaultValue}}={{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}=None{{/defaultValue}}{{/required}}{{/allParams}}) -> {{#returnType}}{{#maptype}}{{returnType}}{{/maptype}}{{/returnType}}{{^returnType}}None{{/returnType}}:
    return None

{{/operation}}
{{/operations}}