from strawberry_py import ApiController, http_get, http_put, http_post, http_patch

{{#operations}}
@controller()
class {{classname}}(ApiController):

{{#operation}}
  @http_{{#lowercase}}{{httpMethod}}{{/lowercase}}('{{{basePathWithoutHost}}}{{{path}}}')
  def {{operationId}}(self{{#allParams}}, {{paramName}}{{/allParams}}):
    return

{{/operation}}
{{/operations}}