{{#isFormParam}}@form_parameter('{{paramName}}'{{#required}}, required=True{{/required}}{{#pattern}}, pattern="{{{pattern}}}"{{/pattern}}{{#minLength}}, minimum_length={{minLength}}{{/minLength}}{{#maxLength}}, maximum_length={{maxLength}}{{/maxLength}}){{/isFormParam}}