{{#isHeaderParam}}@header_parameter('{{paramName}}', data_type={{#maptype}}{{&dataType}}{{/maptype}}{{#required}}, required=True{{/required}}{{#pattern}}, pattern="{{{pattern}}}"{{/pattern}}{{#minLength}}, minimum_length={{minLength}}{{/minLength}}{{#maxLength}}, maximum_length={{maxLength}}{{/maxLength}}){{/isHeaderParam}}