import os
import sys
sys.path.insert(0, os.path.join(os.getcwd(), os.path.dirname(__file__), '..', '..', 'src'))
from strawberry_py import ControllerHandler, AwsLambdaRequest, AwsLambdaResponse

#region Controllers
{{#apiInfo}}
{{#apis}}
from src.controllers.{{#snakecase}}{{classname}}{{/snakecase}}_impl import {{classname}}Impl
{{/apis}}
{{/apiInfo}}
#endregion

def handler(event, context):
  http_request = AwsLambdaRequest(event, context)
  http_response = handle_http_request(http_request)

  aws_lambda_response = AwsLambdaResponse.from_response(http_response)
  return aws_lambda_response.get_lambda_result()

def handle_http_request(request):
  controller_handler = ControllerHandler.get_instance()
  response = controller_handler.handleRequest(request)
